.intro_firstpage {
  align-content: center;
}

body {
  background-color: #ff5500;
}

.bottomtext {
  font-size: 38px;
  color: white;
  text-shadow: 4px 2px black;
  text-align: center;
}

.pizzapng {
    display: block;
    margin-left: auto;
    margin-right: auto;
  animation: pizzaframe 2s infinite;
  animation-direction: alternate;
  position: relative;
  align-content: centerclass="bottomtext";
  z-index: 3;
}

@keyframes pizzaframe {

  from {transform: rotate(5deg);}
  to   {transform: rotate(-5deg);}

}
